.modal{
  display: none;
  background-color: rgb(251,251,231);;
  // width: 19%;
  width:60%;
  border-radius: 4px;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: rgb(50, 39, 19) 1px solid;
  border-radius: 11px;
  padding: 1em;
  color: rgb(50, 39, 19);
  box-shadow: 5px 10px rgb(50, 39, 19);
}

.modal-background {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.open-modal{
  display:block;
  z-index: 10;
}

.more:hover{
  cursor: pointer;
}

.more{
  color: blue;
}