.modal{
  display: none;
  background-color: white;
  position: relative;
  /* right: 5%; */
  /* bottom: 50%; */
  width: 19%;
  /* margin-right: 16px; */
  /* margin-top: 124px; */
  padding: 24px;
  left: 77%;
  top: 21%;
  border-radius: 4px;
}

.modal-background {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.open-modal{
  display:block;
  z-index: 10;
}