.booklist{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booklisteach{
  padding-bottom: 3em;
  border-bottom: 1px brown solid;
  margin-bottom: 1em;
}

.book_item{
  display: flex;
 }

.mainbooktitle{
  font-weight: 900;
}

.bookiteminfo{
  display: flex;
  flex-direction: column;
}

.mainbookimage{
  height: 100%;
  width: 5em;
  object-fit: scale-down;//needs height and width
}

// .mainbookimage a{ 
//   // height: 60%;
//   border: 3px solid red;
//   margin:auto
// }

.mainbookimageA{
  // border: 3px solid red;
  height: 7em;
}

// .mainbookimageA a{
//   height: 60%;
//   border: 3px solid red;
//   margin:auto
// }