$brownish:(rgb(50, 39, 19));
$beigeish:(rgb(251,251,231));

.booklist{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booklisteach{
  padding-bottom: 3em;
  border-bottom: 1px brown solid;
  margin-bottom: 1em;
}

.book_item{
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  width: 542px;
  word-wrap: break-word;
 }

.mainbooktitle{
  font-weight: 900;
  word-wrap: normal;
}

.bookiteminfo{
  display: flex;
  flex-direction: column;
}

.mainbookimage{
  height: 100%;
  width: 5em;
  object-fit: scale-down;//needs height and width
}

// .mainbookimage a{ 
//   // height: 60%;
//   border: 3px solid red;
//   margin:auto
// }

.mainbookimageA{
  // border: 3px solid red;
  height: 7em;
  padding-right: 2em;
}

// .mainbookimageA a{
//   height: 60%;
//   border: 3px solid red;
//   margin:auto
// }

.addButtons{
  background-color: $beigeish;
  border-radius: 3px;
  padding: 3px;
  width: 14em;
  margin-top: .5em;
}

.addButtons:first-child{
  margin-right: 15em;
}

.addButtons:disabled:hover{
  cursor: not-allowed;;
}

.addButtons:hover{
  cursor: pointer;
  color: $beigeish;
  background-color: $brownish;
}


.bookdescription{
  word-wrap: break-word;;
}