.bookForm{
  display: flex;
  flex-direction:column;
  // margin: auto;
  align-items: center;
  justify-content: space-around;
}

.searchBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBox input[type='text']{
  border-radius: 10px;
  width: 300%;
  font-size: 20px;
}

 .searchButton{
  width: 37%;
  height: 21%;
  font-weight: 600;
  font-size: x-large;
  background: cornflowerblue;
  border-radius: 10px;
}

.searchButton:hover{
  background-color: red;
  cursor: pointer;
}

.mainPageSearch{
  display: flex;
  justify-content:center;
  background-image: url('booksimg.jpg');
  background-size: 75%;
  color: white;;
  font-weight: bold;
  font-size: 50px;
  background-position: center;
  height: 4em;
  
}

.mainTitle{
  text-shadow: 2px 2px 4px black;
}


