.NavbarMain{
  background-color: rgb(242, 239, 231);
  display: flex;
  justify-content:space-around;
  font-size: 25px;
  border-bottom: 1px black solid;
  padding-bottom: 2%;
  position: fixed;
  top: 0px;
  width: 100%; 
  left: 0;
}


.mainHeading{
  font-size: 50px;
  font-weight: 700;
  color: black;
  text-shadow: 2px 2px gray;
}

.mainHeading a{ 
  cursor: pointer;
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
  color: black;
}

#signupbtn{
  position: relative;
  right: 20%;
}

.notSignedInbutton a{
  cursor: pointer;
  text-decoration: none;
  color : black;
}

.notSignedInbutton a:hover{
  background-color: rgb(50,39,19);
  color: rgb(242, 239, 231);;
}



/* Dropdown Button */
.dropbtn {
  background-color: rgb(242, 239, 231);
  color: black;
  padding: 16px;
  font-size: 24px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(242, 239, 231);
  // min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 20px;
  width: 100%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 5px;
  text-decoration: none;
  display: block;
  // font-size: 16px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(50,39,19);
  color: rgb(242, 239, 231);
  cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgb(50,39,19);
  color: rgb(242, 239, 231);;
}
