.NavbarMain{
  background-color: rgb(242, 239, 231);
  display: flex;
  justify-content:space-around;
  font-size: 25px;
  border-bottom: 1px black solid;
  padding-bottom: 2%;
}

.mainHeading{
  font-size: 50px;
  font-weight: 700;
  color: black;
  text-shadow: 2px 2px gray;
}

.mainHeading a{ 
  cursor: pointer;
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
  color: black;
}

.navBarLinks{
  color:black;
}

.navBarlinksLinks{
  color:black;
  font-size: 15px;
}

.navBarlinksLinks a {
  text-decoration: none;
  color:black;
}

.navBarlinksLinks a:hover{
  background-color:gray;
}

#wishlistbtn{
  position: relative;
  right: 15%;
}

.notSignedInbutton{
}

#signupbtn{
  position: relative;
  right: 20%;
}

.notSignedInbutton a{
  cursor: pointer;
  text-decoration: none;
  color : black;
}

.notSignedInbutton a:hover{
  background-color: rgb(50,39,19);
  color: rgb(242, 239, 231);;
}
