.NavbarMain{
   background-color: lightgray;
  // background-image: url('booksimage.jpeg');
  // background-size: 40%;
  // color: white;
  display: flex;
  justify-content:space-between;
  font-size: 25px
}

.navBarLinks{
  display: flex;
  color:white;
  justify-content:space-between;
  font-size: 15px;
}

.navBarlinksLinks{
  display: flex;
  flex-direction: column;
  color:white;
  font-size: 15px;
}

.notSignedInbutton{
  display: flex;
  flex-direction:column;
  font-size: 15px;
}