// #radioRating{
//   display: flex;
  
// }


// [type|="radio"] {
//   background-color: red;
//   border: none;
//   outline: none;
//   cursor: pointer;
// }
// .on {
//   color: red;
// }
// .off {
//   color: #ccc;
// }

.readBook{
  display: flex;
  flex-direction:column;
  align-items: center;
}