// #radioRating{
//   display: flex;
  
// }
// [type|="radio"] {
//   background-color: red;
//   border: none;
//   outline: none;
//   cursor: pointer;
// }
// .on {
//   color: red;
// }
// .off {
//   color: #ccc;
// }

.readBooksComponent{
  margin-top: 6.5em;
}

.readBooks{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.star{
  display: flex;
}
.checked {
  color: orange;
}
.readBook{
  display: flex;
  margin-bottom: 2em;
  width: 542px;
  word-wrap: break-word;
  // flex-direction:column;
  // align-items: center;
  // justify-content:space-around
}

.readImage{
  display: flex;
  flex-direction: column;
}

.readBookInfo{
  display: flex;
  flex-direction: column;
}

#button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-text-stroke: 1px black;
}
.on {
  color: yellow;
}
.off {
  color: #ccc;
}